/* 头部样式 */
#header .header-inner, #header #header-wrap{
    height: 100px !important;
}
#header{
    height: 100px !important;
}  

#header .header-inner #logo {
    top: 29.5px !important;
}

#header.header-sticky.sticky-active,
#header{
    line-height: 99px !important;
}

nav{
    height: 100px !important;
}
#mainMenu nav > ul > li .dropdown-menu{
    top:115px !important;
}


/* 底部 */
#footer a:hover{
    color: #fff;
}


.service-copyright-text{
    color: #EBA26A !important;
    font-size: 12px !important;
}

.office-city{
    width: 280px;
    overflow: hidden;       /* 超出隐藏 */
    white-space: nowrap;    /* 强制一行显示 */
    text-overflow: ellipsis; /* 超出显示省略号 */
}